In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("E:\dataanalysis\mod6\World_Weather_Analysis\weather_data\cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tabanan,ID,2022-07-04 19:20:51,-8.5413,115.1252,79.20,94,100,4.16
1,1,Biak,ID,2022-07-04 19:20:52,-0.9131,122.8766,75.76,86,47,7.11
2,2,Killam,CA,2022-07-04 19:20:52,52.7834,-111.8518,69.75,56,100,9.22
3,3,Ushuaia,AR,2022-07-04 19:19:58,-54.8000,-68.3000,37.06,81,75,11.50
4,4,Albany,US,2022-07-04 19:20:53,42.6001,-73.9662,82.94,28,32,1.99

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 76

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Biak,ID,2022-07-04 19:20:52,-0.9131,122.8766,75.76,86,47,7.11
6,6,Bengkulu,ID,2022-07-04 19:20:54,-3.8004,102.2655,75.63,91,36,4.65
97,97,Makakilo City,US,2022-07-04 19:23:29,21.3469,-158.0858,75.69,76,75,13.80
142,142,Port-Gentil,GA,2022-07-04 19:24:46,-0.7193,8.7815,75.16,83,40,11.50
149,149,Isangel,VU,2022-07-04 19:24:48,-19.5500,169.2667,75.04,81,45,13.06
175,175,Pitimbu,BR,2022-07-04 19:23:47,-7.4706,-34.8086,75.79,85,99,17.54
182,182,Avarua,CK,2022-07-04 19:25:01,-21.2078,-159.7750,75.25,88,77,1.14
195,195,Norman Wells,CA,2022-07-04 19:26:10,65.2820,-126.8329,75.24,46,20,21.85
197,197,Pemba,MZ,2022-07-04 19:26:11,-12.9740,40.5178,75.90,73,20,10.36
266,266,San-Pedro,CI,2022-07-04 19:27:38,4.7485,-6.6363,75.99,81,60,7.00

In [12]:
preferred_cities_df.count()

City_ID       16
City          16
Country       16
Date          16
Lat           16
Lng           16
Max Temp      16
Humidity      16
Cloudiness    16
Wind Speed    16
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1             Biak      ID     75.76  -0.9131  122.8766
6         Bengkulu      ID     75.63  -3.8004  102.2655
97   Makakilo City      US     75.69  21.3469 -158.0858
142    Port-Gentil      GA     75.16  -0.7193    8.7815
149        Isangel      VU     75.04 -19.5500  169.2667
175        Pitimbu      BR     75.79  -7.4706  -34.8086
182         Avarua      CK     75.25 -21.2078 -159.7750
195   Norman Wells      CA     75.24  65.2820 -126.8329
197          Pemba      MZ     75.90 -12.9740   40.5178
266      San-Pedro      CI     75.99   4.7485   -6.6363

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Biak,ID,75.76,-0.9131,122.8766,Penginapan Kim
6,Bengkulu,ID,75.63,-3.8004,102.2655,Grage Hotel Bengkulu
97,Makakilo City,US,75.69,21.3469,-158.0858,Marriott's Ko Olina Beach Club
142,Port-Gentil,GA,75.16,-0.7193,8.7815,Fengshui Residence
149,Isangel,VU,75.04,-19.5500,169.2667,Tanna Lodge
175,Pitimbu,BR,75.79,-7.4706,-34.8086,Reserva do Abiaí
182,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
195,Norman Wells,CA,75.24,65.2820,-126.8329,Heritage Hotel
197,Pemba,MZ,75.90,-12.9740,40.5178,Guesthouse Samotina
266,San-Pedro,CI,75.99,4.7485,-6.6363,Hotel Maria
310,Madang,PG,75.31,-5.2246,145.7966,Comfort Inn Hotel
312,Waingapu,ID,75.27,-9.6567,120.2641,Pondok Wisata Elim
464,Houlton,US,75.72,46.1262,-67.8403,Ivey's Motor Lodge Houlton
523,Cabedelo,BR,75.87,-6.9811,-34.8339,Pousada Camboinha
524,Yima,CN,75.65,34.7381,111.8839,Yima Hotel
553,Mitsamiouli,KM,75.42,-11.3847,43.2844,Foyer ADM

In [16]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))