In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tabanan,ID,2022-07-04 19:20:51,-8.5413,115.1252,79.20,94,100,4.16
1,1,Biak,ID,2022-07-04 19:20:52,-0.9131,122.8766,75.76,86,47,7.11
2,2,Killam,CA,2022-07-04 19:20:52,52.7834,-111.8518,69.75,56,100,9.22
3,3,Ushuaia,AR,2022-07-04 19:19:58,-54.8000,-68.3000,37.06,81,75,11.50
4,4,Albany,US,2022-07-04 19:20:53,42.6001,-73.9662,82.94,28,32,1.99

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [13]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tabanan,ID,2022-07-04 19:20:51,-8.5413,115.1252,79.20,94,100,4.16
1,1,Biak,ID,2022-07-04 19:20:52,-0.9131,122.8766,75.76,86,47,7.11
4,4,Albany,US,2022-07-04 19:20:53,42.6001,-73.9662,82.94,28,32,1.99
5,5,Sorong,ID,2022-07-04 19:20:53,-0.8833,131.2500,78.12,91,100,7.31
6,6,Bengkulu,ID,2022-07-04 19:20:54,-3.8004,102.2655,75.63,91,36,4.65
8,8,Butaritari,KI,2022-07-04 19:20:54,3.0707,172.7902,82.83,74,98,20.04
9,9,Merauke,ID,2022-07-04 19:20:54,-8.4667,140.3333,77.20,88,92,11.41
13,13,Mutata,CO,2022-07-04 19:20:56,7.2441,-76.4356,83.70,79,100,3.06
14,14,Kapaa,US,2022-07-04 19:20:56,22.0752,-159.3190,80.92,77,20,19.57
19,19,Atuona,PF,2022-07-04 19:20:58,-9.8000,-139.0333,76.93,74,23,24.87

In [19]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0      Tabanan      ID     79.20  -8.5413  115.1252
1         Biak      ID     75.76  -0.9131  122.8766
4       Albany      US     82.94  42.6001  -73.9662
5       Sorong      ID     78.12  -0.8833  131.2500
6     Bengkulu      ID     75.63  -3.8004  102.2655
8   Butaritari      KI     82.83   3.0707  172.7902
9      Merauke      ID     77.20  -8.4667  140.3333
13      Mutata      CO     83.70   7.2441  -76.4356
14       Kapaa      US     80.92  22.0752 -159.3190
19      Atuona      PF     76.93  -9.8000 -139.0333

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

            City Country  Max Temp      Lat       Lng            Hotel Name
0        Tabanan      ID     79.20  -8.5413  115.1252    Puri Anom Homestay
1           Biak      ID     75.76  -0.9131  122.8766        Penginapan Kim
4         Albany      US     82.94  42.6001  -73.9662
5         Sorong      ID     78.12  -0.8833  131.2500    Waigo Splash Hotel
6       Bengkulu      ID     75.63  -3.8004  102.2655  Grage Hotel Bengkulu
..           ...     ...       ...      ...       ...                   ...
540     Kandrian      PG     76.89  -6.2167  149.5500      Kandrian Station
543          Eyl      SO     78.67   7.9803   49.8164           Amiin Hotel
545     Laohekou      CN     76.26  32.3858  111.6678        Laohekou Hotel
546      Terrace      CA     80.51  54.5163 -128.6035    Northern Motor Inn
553  Mitsamiouli      KM     75.42 -11.3847   43.2844             Foyer ADM

[184 rows x 6 columns]

In [28]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))