## Deliverable 2. Create a Customer Travel Destinations Map.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [17]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("E:\dataanalysis\mod6\World_Weather_Analysis\Weather_Database\WeatherPy_database.csv")
city_data_df.head(17)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Portmore,JM,17.9702,-76.8672,84.16,78,20,14.97,few clouds
1,1,Hermanus,ZA,-34.4187,19.2345,50.43,81,0,6.49,clear sky
2,2,Vaini,TO,-21.2000,-175.2000,73.56,83,75,12.66,broken clouds
3,3,Channel-Port Aux Basques,CA,47.5702,-59.1367,56.37,76,2,13.15,clear sky
4,4,Bengkulu,ID,-3.8004,102.2655,84.40,68,84,7.07,light rain
5,5,Christchurch,NZ,-43.5333,172.6333,51.91,66,70,1.14,broken clouds
6,6,Mar Del Plata,AR,-38.0023,-57.5575,40.08,100,0,3.44,clear sky
7,7,Rikitea,PF,-23.1203,-134.9692,75.29,71,4,9.64,clear sky
8,8,Houma,US,29.5958,-90.7195,80.60,91,0,0.00,clear sky
9,9,Shirokiy,RU,49.7580,129.5230,83.14,68,68,7.16,broken clouds
10,10,Punta Arenas,CL,-53.1500,-70.9167,24.91,93,0,5.75,clear sky
11,11,Deputatskiy,RU,69.3000,139.9000,70.84,38,54,23.80,broken clouds
12,12,Taltal,CL,-25.4000,-70.4833,59.36,63,32,4.16,scattered clouds
13,13,Winchester,GB,51.0651,-1.3187,52.43,96,1,3.44,clear sky
14,14,Oistins,BB,13.0667,-59.5333,80.69,78,40,18.41,scattered clouds
15,15,Saint-Pierre,RE,-21.3393,55.4781,68.92,67,0,6.91,clear sky
16,16,Belyy Yar,RU,53.6039,91.3903,78.69,38,0,11.18,clear sky

In [18]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [19]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
7,7,Rikitea,PF,-23.1203,-134.9692,75.29,71,4,9.64,clear sky
19,19,Poum,NC,-20.2333,164.0167,77.36,84,80,24.38,broken clouds
81,81,Porto Novo,BJ,6.4965,2.6036,76.82,92,100,6.44,light rain
100,100,Atuona,PF,-9.8000,-139.0333,77.79,76,7,24.58,clear sky
111,111,Freeport,US,40.6576,-73.5832,76.37,63,0,10.36,clear sky
121,121,Goderich,CA,43.7501,-81.7165,75.52,60,100,5.75,overcast clouds
139,139,Campoverde,PE,-8.4753,-74.8058,76.69,68,46,1.21,scattered clouds
142,142,Katsuura,JP,35.1333,140.3000,76.23,85,100,19.98,moderate rain
144,144,Katsina,NG,12.9894,7.6006,77.94,61,91,11.48,overcast clouds
146,146,Alofi,NU,-19.0595,-169.9187,75.09,78,99,17.27,overcast clouds

In [20]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                62
City                   62
Country                62
Lat                    62
Lng                    62
Max Temp               62
Humidity               62
Cloudiness             62
Wind Speed             62
Current Description    62
dtype: int64

In [21]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [22]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,75.29,clear sky,-23.1203,-134.9692,
19,Poum,NC,77.36,broken clouds,-20.2333,164.0167,
81,Porto Novo,BJ,76.82,light rain,6.4965,2.6036,
100,Atuona,PF,77.79,clear sky,-9.8000,-139.0333,
111,Freeport,US,76.37,clear sky,40.6576,-73.5832,
121,Goderich,CA,75.52,overcast clouds,43.7501,-81.7165,
139,Campoverde,PE,76.69,scattered clouds,-8.4753,-74.8058,
142,Katsuura,JP,76.23,moderate rain,35.1333,140.3000,
144,Katsina,NG,77.94,overcast clouds,12.9894,7.6006,
146,Alofi,NU,75.09,overcast clouds,-19.0595,-169.9187,

In [23]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,75.29,clear sky,-23.1203,-134.9692,People ThankYou
19,Poum,NC,77.36,broken clouds,-20.2333,164.0167,
81,Porto Novo,BJ,76.82,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin
100,Atuona,PF,77.79,clear sky,-9.8000,-139.0333,Villa Enata
111,Freeport,US,76.37,clear sky,40.6576,-73.5832,The Freeport Inn and Marina

In [27]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df
clean_hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df=clean_hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Rikitea,PF,75.29,clear sky,-23.1203,-134.9692,People ThankYou
81,Porto Novo,BJ,76.82,light rain,6.4965,2.6036,Tour Eiffel Hotel Benin
100,Atuona,PF,77.79,clear sky,-9.8000,-139.0333,Villa Enata
111,Freeport,US,76.37,clear sky,40.6576,-73.5832,The Freeport Inn and Marina
121,Goderich,CA,75.52,overcast clouds,43.7501,-81.7165,Harmony Inn

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [29]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))